body {
    background-color: pink;
    text-align: center;
}

ul {
   text-decoration: none;
   padding: 0;
}

img {
    width: 100%;
    max-width: 15rem;
    height: auto;
}



/* not enough must disable links*/

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled a {
    text-decoration: none;
    pointer-events: none;
    display: inline-block;
}

