* {
    box-sizing: border-box;
    margin-top: 0;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    padding: 0;
    min-width: 22rem;
}

header {
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

/* */

h1 {
    margin-top: 0;
    font-size: 2rem;
}

h2 {
    text-align: center;
}

p {
    line-height: 1.5;
    max-width: 27rem;
    text-align: left;
    font-family: var(--font-family-secondary);
}

button {
    font-family: var(--font-family-secondary);
}

a {
    font-family: var(--font-family-secondary);
}


  @media (min-width: 56rem) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

  }

  @media (min-width: 85rem) {

    body {
        background-image: url("../../images/AppResources/full-bloom.png");
        background-repeat: repeat;
        color: var(--color-text-dark-primary);
    }

  }

  