
.p-index_title {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
}

.p-index_bookCardContainer {
    --p-bookCardWidth: 18rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--p-bookCardWidth));
    grid-gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.p-index_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.p-index_pageCount {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-text-dark-secondary);
    letter-spacing: .1rem;
}

.p-index_navButton {
    padding: .5rem;
    background-color: var(--color-active);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 6.5rem;
    font-size: 1.2rem;
    border-radius: .3rem;
}

    .p-index_navButton:hover {
        background-color: var(--color-active-hover);
    }

    .p-index_navButton.-active {
        color: var(--color-text-light-primary);
    }

    .p-index_navButton.-disabled {
        color: var(--color-text-disabled);
        background-color: var(--color-disabled);
        cursor: not-allowed;
    }


@media (min-width: 56rem) {

    .p-index_navButton {
        width: 8rem;
        font-size: 1.5rem;
    }

    .p-index_pageCount {
        font-size: 1.3rem;
    }

    .p-index_bookCardContainer {
        margin-bottom: 5rem;
    }

    .p-index_navigation {
        justify-content: space-evenly;
    }
}

