
.o-button {
    outline: none;
    border: none;
    background-color: darkgrey;
    padding: .6rem 1rem;
    text-transform: uppercase;
    color: var(--color-text-light-primary);
    border-radius: .3rem;
}

    .o-button:hover {
        background-color: black;
    }

    .o-button::before {
        font-family: var(--font-family-fontAwesome);
        font-weight: var(--font-weight-fontAwesome-solid);
        content: var(--fontAwesome-trash);
        color: var(--color-text-light-primary);
        padding-right: .5rem;
    }

/* */

.o-button.-green {
    background-color: green;
}

    .o-button.-green:hover {
        background-color: darkgreen;
    }

.o-button.-red {
    background-color: red;
}

    .o-button.-red:hover {
        background-color: darkred;
    }