.o-buttonLink {
    background-color: darkgray;
    color: var(--color-text-light-primary);
    padding: .6rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .3rem;
}

    .o-buttonLink:hover {
        background-color: black;
    }

    .o-buttonLink::before {
        font-family: var(--font-family-fontAwesome);
        font-weight: var(--font-weight-fontAwesome-solid);
        color: var(--color-text-light-primary);
        padding-right: .5rem;
        content: var(--fontAwesome-cancel);
    }

/* */

.o-buttonLink.-orange {
    background-color: orange;
}

    .o-buttonLink.-orange:hover {
        background-color: darkorange;
    }

.o-buttonLink.-green {
    background-color: green;
}

    .o-buttonLink.-green:hover {
        background-color: darkgreen;
    }
