.o-delete {
    font-family: var(--font-family-fontAwesome);
    font-weight: var(--font-weight-fontAwesome-solid);
    text-decoration: none;
}

    .o-delete:hover::before {
        color: darkred;
    }

    .o-delete::before {
        content: var(--fontAwesome-trash);
        display: inline-block;
        color: red;
        padding: .5rem;
        font-size: 1.6rem;
        margin: 0 auto;
    }
