.o-edit {
    font-family: var(--font-family-fontAwesome);
    font-weight: var(--font-weight-fontAwesome-solid);
    text-decoration: none;
}

    .o-edit:hover::before {
        color: var(--color-active-hover);
    }

    .o-edit::before {
        content: var(--fontAwesome-edit);
        display: inline-block;
        color: var(--color-active);
        padding: .5rem;
        font-size: 1.6rem;
        margin: 0 auto;
    }
