@model EditBookDto

<form method="post" enctype="multipart/form-data">
    <div class="b-wrapper p-editBookForm">
        <div class="p-editBookForm_formData">
            <label class="p-editBookForm_label" asp-for="Title">Title: </label>
            <span class="p-editBookForm_error" asp-validation-for="Title"></span>
            <input class="p-editBookForm_input" asp-for="Title" />

            <label class="p-editBookForm_label" asp-for="Author">Author: </label>
            <span class="p-editBookForm_error" asp-validation-for="Author"></span>
            <input class="p-editBookForm_input" asp-for="Author" />

            <label class="p-editBookForm_label" asp-for="Rating">Rating: </label>
            <span class="p-editBookForm_error" asp-validation-for="Rating"></span>
            <input class="p-editBookForm_input" asp-for="Rating" />

            <label class="p-editBookForm_label" asp-for="DateRead">Date Read: </label>
            <span class="p-editBookForm_error" asp-validation-for="DateRead"></span>
            <input class="p-editBookForm_input" asp-for="DateRead" type="date" />

            <label class="p-editBookForm_label" asp-for="ShouldChangeImage">Date Read: </label>
            <span class="p-editBookForm_error" asp-validation-for="ShouldChangeImage"></span>
            <input class="p-editBookForm_input" asp-for="ShouldChangeImage" type="checkbox" />

            <div class="p-editBookForm_imageContainer">
                <span class="p-editBookForm_imageLabel">Image: </span>
                <span class="p-editBookForm_error" asp-validation-for="Image"></span>
                <label class="p-editBookForm_imageButton" asp-for="Image">Load</label>
                <span class="p-editBookForm_imageContent">No Image Selected</span>
                <input class="p-editBookForm_imageInput" asp-for="Image"
                       type="file" data-rule-fileSize="true" data-rule-fileExtension="true" />
            </div>

            <p class="p-editBookForm_note">
                *Note: to prevent stretching please make sure your images
                have a width to height ratio of around 7:10
            </p>
        </div>

        <div class="p-editBookForm_descriptionContainer">
            <label class="p-editBookForm_label" asp-for="Description">Description: </label>
            <span class="p-editBookForm_error" asp-validation-for="Description"></span>
            <textarea class="p-editBookForm_textArea" asp-for="Description" rows="14" cols="30"></textarea>
        </div>
    </div>

    <div class="b-wrapper p-editBookForm_actionsContainer">
        <button class="o-button -green p-editBookForm_submit">Submit</button>
        <a class="o-buttonLink -orange p-editBookForm_cancel" asp-action="Index">Cancel</a>
    </div>
</form>
