<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/05_Pages/p-layout.css" />
    @RenderSection("PageStyle", true)
</head>
<body>
    <header class="p-layout">
        <div class="b-wrapper p-layout_header">
            <a asp-controller="Books" asp-action="Index" asp-route-id="">
                <img class="p-layout_logo" src="~/images/AppResources/logo.png" alt="bookshelf logo" />
            </a>
            <h1 class="p-layout_title">Bookshelf</h1>
            <a class="p-layout_add o-buttonLink -active" asp-action="Create">Add</a>
        </div>
    </header>


    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
