@model BookDto
@{
    ViewData["Title"] = "Create";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/imageInput.js"></script>
}

<main class="b-wrapper b-spacer">
    <h1 class="p-create_title">Add Book</h1>

    @if (!string.IsNullOrWhiteSpace(ViewBag.CreateImageError?.ToString()))
    {
        <p class="p-create_error">@ViewBag.CreateImageError</p>
    }

    <partial name="Shared/_AddEditBookForm.cshtml" for="@Model" />

</main>


