@{
    ViewBag.Title = "Not Found";
}
@section PageStyle {
    <link rel="stylesheet" href="~/css/05_Pages/p-notFound.css" />
}

<main class="p-notFound">

    <h1 class="p-notFound_title">Page Not Found</h1>

</main>

